/* Add your custom styles here */

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding-top: 60px; /* Adjust this value based on the height of your navbar */
}

@media (max-width: 768px) {
    body {
        padding-top: 56px; /* Adjust for a different height on smaller screens */
    }
}

/* Ensure that dynamically loaded content is responsive */
#content {
    margin-top: 20px; /* Add spacing between navbar and content */
    position: relative;
}

/* Adjust spacing for header */
header {
    margin-bottom: 20px;
    position: relative;
}

/* Adjust spacing for footer */
#footer {
    margin-top: 20px;
    margin-bottom: 20px; /* Add spacing between content and footer */
}

#navbar {
    position: fixed;
    top: 0;
    z-index: 1000; /* Ensure navbar is above other elements */
    transition: all 0.3s ease;
}

.navbar.expanded {
    height: 100%; /* Or any height you want when the navbar is expanded */
}

/* Add more styles as needed */
